
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-light.svg" alt="">
					</a>
				</div>
				<div class="info-wrap">Сетевое издание зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). Свидетельство о регистрации СМИ №__________ от ____________ г.Учредитель: ООО «_______________А». Главный редактор: ___________________.Адрес редакции:________________________.Контактные данные для Роскомнадзора и государственных органов:____________________.</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="footer-title">Рубрики</div>
				<ul class="menu">
					<li><a href="">Общество</a></li>
					<li><a href="">Политика</a></li>
					<li><a href="">Публицистика</a></li>
					<li><a href="">Культура</a></li>
					<li><a href="">Истории</a></li>
					<li><a href="">L-трон</a></li>
					<li><a href="">Экономика</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="contacts-inner-wrap">
				<div class="contacts-menu-wrap">
					<div class="footer-title">По вопросам рекламы</div>
					<ul class="menu">
						<li><a href="tel:81111111111">+7 (111) 111 11 11</a></li>
						<li><a href="mailto:pochta@pochta.ru">pochta@pochta.ru</a></li>
						<li><a href="">Реклама на сайте</a></li>
					</ul>
				</div>
				<div class="soc-inner-wrap">
					<div class="footer-title">Подписывайтесь на нас</div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc02.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc03.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc04.svg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-inner-wrap">
				<div class="info-wrap">2023 г © Все права защищены.</div>
				<div class="info-wrap">
					<ul class="menu">
						<li>ОГРН: 1237750228740</li>
						<li>ИНН: 056203556760</li>
					</ul>
				</div>
				<div class="info-wrap"><div class="info-title">Разработано в</div> <a href=""><b>ВебУспех</b></a></div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->