
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-main.svg" alt="">
			</a>
		</div>
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li class="submenu">
						<a href="">Общество</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="">Политика</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="">Публицистика</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="">Культура</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="">Истории</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="">Экономика</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li class="submenu">
						<a href="">L-трон</a>
						<ul>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
							<li><a href="">Пункт меню</a></li>
						</ul>
					</li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
		</div>
		<div class="popup-search-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-search js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="btn-action-ico ico-search"></button>
				</form>
			</div>
		</div>
	</div>
</header>
<!-- /header -->